github "networkextension/DarwinCore" "0.2.4"
github "networkextension/SFSocket" "0.2.5"
#github "networkextension/liblwip" "0.2.4"
#github "groue/GRDB.swift"  "954644a001f62c1d35dc456483f3a0e1e131de89"
#github "Alamofire/Alamofire"
git "git@bitbucket.org:yarshure/mmdb-swift.git" "0.2.3"
#github "networkextension/SystemKit" "swift3.0"

github "networkextension/AxLogger" "0.2.3"
github "networkextension/SwiftyJSON" "3.1.4"
